.rounded-8px{
  border-radius: 8px;
}


.text-gradient {
  background-image: linear-gradient(0deg, $primary, $secondary);
  background-clip: text;
  color: transparent;
}


.square{
  width: 10px;
  height: 10px;
  background: $white;
}

.left-40px{
  left: 40px;
}
.row{
  margin-left: -12px;
  margin-right: -12px;
}

@include media-breakpoint-up(xs) {
  .ms-m12px{
    margin-left: -12px;
  }
  .pe-6px {
    padding-right: 6px;
  }
  .ps-60{
    padding-left: 60px;
  }
  .pe-60{
    padding-right: 60px;
  }
  .h-fit{
    height: fit-content;
  }
  
  .w-fit{
    width: fit-content;
  }
  .w-24 {
    width: 24px;
  }
  .w-100px{
    width: 100px;
  }
  .w-175 {
    width: 175px;
  }

  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }

  .border-gradient-bottom {
    border-image: linear-gradient(90deg, $primary 0%, $primary 50%, $secondary 50%, $secondary 100%) 2 2 2 2;
    border-image-width: 0 0 2px 0;
  }
  .border-gradient-top {
    border-image: linear-gradient(90deg, $primary 0%, $primary 50%, $secondary 50%, $secondary 100%) 2 2 2 2;
    border-image-width: 2px 0 0 0;
  }
}

@include media-breakpoint-up(sm) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@include media-breakpoint-up(md) {
  .ps-md-80{
    padding-left: 80px !important;
  }
  .pe-md-80{
    padding-right: 80px !important;
  }
  .pt-md-80{
    padding-top: 80px !important;
  }
  .pb-md-80{
    padding-bottom: 80px !important;
  }

  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }

  .border-image-md-none {
    border-image: none;
  }
}

@include media-breakpoint-up(lg){
  .h-lg-615{
    height: 615px;
  }
}
