.border-bottom-custom {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    border-bottom: 3px solid $primary;
    width: 50px;
    @include media-breakpoint-down(lg) {
      left: 35%;
    }
  }
  &-center {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 49%;
      border-bottom: 3px solid $primary;
      width: 50px;
      @include media-breakpoint-down(lg) {
      left: 43%;
    }
    }
  }
}

.rounded-8px {
  border-radius: 8px;
}
.rounded-square {
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 2px solid $primary;
    border-left: 2px solid $primary;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid $primary;
    border-left: 2px solid $primary;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    border-bottom-right-radius: 10px;
  }
}
.rounded-square-hover:hover {
  .rounded-square {
    display: block;
  }
}
.rounded-chat {
  border-radius: 24px 24px 24px 0px !important;
}

.text-gradient {
  background-image: linear-gradient(0deg, $primary, $secondary);
  background-clip: text;
  color: transparent;
}

.square {
  width: 10px;
  height: 10px;
  background: $white;
}

.left-40px {
  left: 40px;
}
.row {
  margin-left: -12px;
  margin-right: -12px;
}

@include media-breakpoint-up(xs) {
  .ms-m12px {
    margin-left: -12px;
  }
  .pe-6px {
    padding-right: 6px;
  }
  .ps-60 {
    padding-left: 60px;
  }
  .pe-60 {
    padding-right: 60px;
  }
  .h-fit {
    height: fit-content;
  }
  .w-fit {
    width: fit-content;
  }
  .w-maxContent {
    width: max-content;
  }
  .w-24 {
    width: 24px;
  }
  .w-100px {
    width: 100px;
  }
  .w-175 {
    width: 175px;
  }
  .w-416 {
    width: 416px;
  }

  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .border-gradient-bottom {
    border-image: linear-gradient(90deg, $primary 0%, $primary 50%, $secondary 50%, $secondary 100%) 2 2 2 2;
    border-image-width: 0 0 2px 0;
  }
  .border-gradient-top {
    border-image: linear-gradient(90deg, $primary 0%, $primary 50%, $secondary 50%, $secondary 100%) 2 2 2 2;
    border-image-width: 2px 0 0 0;
  }
  .fs-80 {
    font-size: 80px;
  }
}

@include media-breakpoint-up(sm) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@include media-breakpoint-up(md) {
  .ps-md-80 {
    padding-left: 80px !important;
  }
  .pe-md-80 {
    padding-right: 80px !important;
  }
  .pt-md-80 {
    padding-top: 80px !important;
  }
  .pb-md-80 {
    padding-bottom: 80px !important;
  }
  .pe-md-88 {
    padding-right: 88px !important;
  }
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }

  .border-image-md-none {
    border-image: none;
  }
}

@include media-breakpoint-up(lg) {
  .h-lg-615 {
    height: 615px;
  }
}
